[submodule "perelman-sequence/.template"]
	path = perelman-sequence/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "reed-solomon-coding/.template"]
	path = reed-solomon-coding/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "russell-s-paradox/.template"]
	path = russell-s-paradox/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "neural-network/.template"]
	path = neural-network/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "lyapunov-stability-theory/.template"]
	path = lyapunov-stability-theory/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "riemann-integral/.template"]
	path = riemann-integral/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "simulated-annealing/.template"]
	path = simulated-annealing/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "tabu-search/.template"]
	path = tabu-search/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "ant-colony-optimization/.template"]
	path = ant-colony-optimization/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "genetic-algorithm/.template"]
	path = genetic-algorithm/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "memetic-algorithm/.template"]
	path = memetic-algorithm/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "particle-swarm-optimization/.template"]
	path = particle-swarm-optimization/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "backpropagation/.template"]
	path = backpropagation/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "markov-chain/.template"]
	path = markov-chain/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "jordan-normal-form/.template"]
	path = jordan-normal-form/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "geometry/.template"]
	path = geometry/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "chinese-remainder-theorem/.template"]
	path = chinese-remainder-theorem/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "gradient-descent/.template"]
	path = gradient-descent/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "bookkeeping/.template"]
	path = bookkeeping/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "algebra/.template"]
	path = algebra/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "batch-normalization/.template"]
	path = batch-normalization/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "weight-decay/.template"]
	path = weight-decay/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "dropout/.template"]
	path = dropout/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "regularization/.template"]
	path = regularization/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "gaussian-process-regression/.template"]
	path = gaussian-process-regression/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "bayesian-optimization/.template"]
	path = bayesian-optimization/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "fisher-yates-shuffle/.template"]
	path = fisher-yates-shuffle/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "todo/.template"]
	path = todo/.template
	url = https://github.com/muushi97/tex-project-template
