[submodule "algebra/.template"]
	path = algebra/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "bookkeeping/.template"]
	path = bookkeeping/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "chinese-remainder-theorem/.template"]
	path = chinese-remainder-theorem/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "perelman-sequence/.template"]
	path = perelman-sequence/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "reed-solomon-coding/.template"]
	path = reed-solomon-coding/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "russell-s-paradox/.template"]
	path = russell-s-paradox/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "neural-network/.template"]
	path = neural-network/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "gradient-descent/.template"]
	path = gradient-descent/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "lyapunov-stability-theory/.template"]
	path = lyapunov-stability-theory/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "riemann-integral/.template"]
	path = riemann-integral/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "simulated-annealing/.template"]
	path = simulated-annealing/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "tabu-search/.template"]
	path = tabu-search/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "tunneling-algorithm/.template"]
	path = tunneling-algorithm/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "ant-colony-optimization/.template"]
	path = ant-colony-optimization/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "genetic-algorithm/.template"]
	path = genetic-algorithm/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "memetic-algorithm/.template"]
	path = memetic-algorithm/.template
	url = https://github.com/muushi97/tex-project-template
[submodule "particle-swarm-optimization/.template"]
	path = particle-swarm-optimization/.template
	url = https://github.com/muushi97/tex-project-template
